<!-- reviews-index.handlebars -->

<h1>Projects</h1>

<a href="/reviews/new">New Review</a>
<a href="/">Back to Home</a>

<h1>{{Reviews}}</h1>
{{#each reviews}}
  <a href="/reviews/{{this._id}}">
    <h5>{{this.title}}</h5>
    <small>{{this.movieTitle}}</small>
  </a>
  <a href="/reviews/{{this._id}}/edit">Edit</a>
{{/each}}

<h1>{{review.title}}</h1>
<h5>{{review.movieTitle}}</h5>
<p>{{review.description}}</p>

<legend>
  <form action="/reviews/" method="POST">
    {{> reviews-form }}
  </form>
</legend>

<legend>
  <form action="/reviews?_method=PUT" method="POST">
    {{> reviews-form }}
  </form>
</legend>
